@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --bg: #2c2c2c;
  --bgSec: #4c4c4c;
  --text: white;
  --textSec: rgb(225,225,225);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

body{
  background-color: var(--bg);
  color: var(--text);
}

a{
  color: inherit;
  text-decoration: none;
}

