.container{
  display: flex;
}

.menu{
  flex: 1;
  background-color: var(--bgSec);
  padding: 20px;
  min-height: 100vh;
}

.content{
  flex: 4;
  padding: 20px;
}

.wrapper{
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.main{
  flex: 3;
  display: flex;
  flex-direction: column;

}
